body {
    font-family: Arial, sans-serif;
    background: url('https://i.postimg.cc/8zTHByzs/aerial-beautiful-shot-seashore-with-hills-background-sunset.jpg') no-repeat center center/cover;
    text-align: center;
    color: white;
}

#searchBar {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
}

#playerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#albumArtContainer {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

#albumArtContainer:hover {
    transform: scale(1.1);
}

#albumArtImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#progressBar {
    width: 80%;
    height: 10px;
    margin-top: 10px;
    background: url("https://i.postimg.cc/hvYx17x2/long-exposure-photography-body-water.jpg") repeat-x;
    background-size: contain;
}

#lyricsContainer {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
#lyricsText {
    position: relative;
    font-size: 20px;
    color: white;
    font-weight: bold;
    display: inline-block;
}

#leaf {
    position: absolute;
    width: 30px;
    transition: transform 0.5s ease-in-out;
}
